* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: '游ゴシック';
}

html {
	background-color: #e6e6e6;
	color: #707070;
	font-size: 62.5%;
}


h2{
	font-size: 3em;
	font-family: 'Georgia';
	text-align: center;
}

h2 span{
	font-size:0.5em;
	font-family: 'Georgia';
	padding-left: 20px;
}

h3{
	font-size:1.5em;
	font-weight: bold;
}

h3 a:hover{
	opacity: 0.8;
}

h4{
	font-size: 1.5em;
	color: #FFF;
	font-weight: 100;
	padding: 5px;
	position: relative;
}

h4 span{
	position: absolute;
	right: 5px;
	top: 5px;
	text-align: right;
}

p {
	font-size: 1.3em;
	line-height: 2em;
}


.about ,.about a {
	color: #C36068;
}

.web ,.web a{
	color: #58639F;
}

.dtp ,.dtp a{
	color: #009B7A;
}

.popup::after{
	bottom: 0px;
	content: "";
    width: 20px;
    height: 15px;
    margin-left: 5px;
    position: relative;
    display: inline-block;
}

.popup::after{
	background: url("../image/popup.png") left center no-repeat;
    background-size: auto 80%;
}

.con980{
	width: 980px;
	margin:0 auto;
	padding-top: 40px;
}

.con1300{
	width: 1300px;
	margin: 0 auto;
}

.pc{
	display: block;
}

.sp{
	display: none;
}

@media screen and (max-width: 420px){
	.sp{
		display: block;
	}

	.pc{
		display: none;
	}
}

@media screen and (max-width: 980px){
	.con980{
		width: 90%;
	}
}

@media screen and (max-width: 1300px){
	.con1300{
		width: 90%;
	}
}

.ta-left{
	text-align: left;
}

.ta-right{
	text-align: right;
}

.ta-center{
	text-align: center;
}

.mt-10{
	margin-top: 10px;
}

.mt-20{
	margin-top: 20px;
}

.mt-30{
	margin-top: 30px;
}

.mt-40{
	margin-top: 40px;
}

.mt-50{
	margin-top: 50px;
}

.mt-60{
	margin-top: 60px;
}

.pt-10{
	padding-top: 10px;
}

.pt-20{
	padding-top: 20px;
}

.pt-30{
	padding-top: 30px;
}

.pt-40{
	padding-top: 40px;
}

.pt-50{
	padding-top: 50px;
}

.pt-60{
	padding-top: 60px;
}


/*--------------------
  header
  --------------------*/

header {
	display: flex;
	align-items: center;
	padding-top: 20px;
	padding: 20px 20px 0 20px; 
	width: 100%;
	margin:0 auto;
}

.logo {
	font-size: 4em;
	font-family: 'Georgia';
	display: inline-block;
	background:-webkit-linear-gradient(-45deg, #C36068,#58639F 40%, #009B7A);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.logo a{
	font-family: 'Georgia';
}

#g-nav .about a:hover{
	color: #C36068;
}

#g-nav .web a:hover{
	color: #58639F;
}

#g-nav .dtp a:hover{
	color: #009B7A;
}


/*========= ナビゲーションのためのCSS ===============*/

/*アクティブになったエリア*/
#g-nav.panelactive{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
	top: 0;
	width:100%;
    height: 100vh;
}

/*丸の拡大*/
.circle-bg{
    position: fixed;
	z-index:3;
    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #c4c4c4;
    /*丸のスタート位置と形状*/
	transform: scale(0);/*scaleをはじめは0に*/
	right:-50px;
    top:-50px;
    transition: all .6s;/*0.6秒かけてアニメーション*/
}

.circle-bg.circleactive{
	transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}

/*ナビゲーションの縦スクロール*/
#g-nav-list{
    display: none;/*はじめは表示なし*/
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list{
     display: block; /*クラスが付与されたら出現*/
}

/*ナビゲーション*/
#g-nav ul {
	opacity: 0;/*はじめは透過0*/
    /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*背景が出現後にナビゲーションを表示*/
#g-nav.panelactive ul {
    opacity:1;
}

/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
#g-nav.panelactive ul li{
	animation-name: gnaviAnime;
	animation-duration:1s;
	animation-delay:.2s;/*0.2 秒遅らせて出現*/
	animation-fill-mode:forwards;
	opacity:0;
}
@keyframes gnaviAnime{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/*リストのレイアウト設定*/
#g-nav li{
	text-align: center; 
	list-style: none;
}

#g-nav li a{
	font-family: 'Georgia';
	font-size:3em;
	color: #333;
	text-decoration: none;
	padding:10px;
	display: block;
	letter-spacing: 0.1em;
	font-weight: bold;
	transition: all 0.3s;
}


/*========= ボタンのためのCSS ===============*/
.openbtn{
	position:fixed;
	top:10px;
	right: 10px;
	z-index: 9999;/*ボタンを最前面に*/
	cursor: pointer;
    width: 50px;
    height:50px;
}
	
/*×に変化*/	
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color: #707070;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

#g-nav .about .here{
	font-family: 'Georgia';
	font-size:3em;
	color: #C36068;
	font-weight: bold;
}

#g-nav .web .here{
	font-family: 'Georgia';
	font-size:3em;
	color: #58639F;
	font-weight: bold;
}

#g-nav .dtp .here{
	font-family: 'Georgia';
	font-size:3em;
	color: #009B7A;
	font-weight: bold;
}

@media screen and (max-width: 1300px){
	header{
		width: 100%;
	}

	.logo,.nav{
		font-size: 2.2em;
	}
}

@media screen and (max-width: 768px){
	.logo,.nav{
		font-size: 1.8em;
	}
	
	
}

/*----------------------
  パンくずリスト
  ----------------------*/

.breadcrumb {
    padding: 15px 0 5px 20px;
    margin: 0 10px 10px 10px;
    -webkit-overflow-scrolling: touch; /* スマホでスクロールを滑らかにする */
    overflow-x: auto; /* [必須] テキストが多い時はX軸にスクロールバーが出現するように */
}

/* 【スクロールバー】 うっとりするぐらいおしゃれにサイトの雰囲気合わせて変更 */

.breadcrumb::-webkit-scrollbar {
    height: 5px;
}

.breadcrumb::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #eee;
}

.breadcrumb::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #999;
}

.breadcrumb ul {
    display: table; /* [必須]  */
}

.breadcrumb ul li {
    font-size: 1.3rem;
    display: table-cell; /* [必須]  */
    white-space: nowrap; /* [必須] テキストを改行させないように */
    vertical-align: middle;
    padding-right: 26px;
    position: relative;
}

.breadcrumb ul li a{
	display:block;
	width:100%;
	color:#707070;
	transition: all 0.3s;
}

.breadcrumb ul li a:hover{
	text-decoration: none;
}

.breadcrumb ul li:last-child {
    padding-right: 0;
}

.breadcrumb ul li:last-child:after {
    display: none;
}

/* 【矢印】 ため息がでるぐらいかっこよくサイトの雰囲気に合わせて変更 */

.breadcrumb ul li:after {
    position: absolute;
    display: block;
    content: '';
    content: ">";
    top: 0;
    right: 8px;
}


	
/*----------------------
  TOP img
  ----------------------*/
.top{
	background-image: url("../image/top02.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
}

.top h1{
	  
	font-family: 'Georgia';
	letter-spacing: 10px;
	  line-height: 80vh;
	  color: #FFF;
	  width:240px;
	  height: 80vh;
	  font-size: 10em;
	  padding-left: 20px;
  }

.top img{
	position: absolute;
	top: 82px;
	left: 0;
	width:100%;
	height: 80vh;
}

@media screen and (max-width: 420px){
	.top{
		background-image: url("../image/sp02.png");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
	}
	
	.top img{
		top: 40px;
	}
}

  @media screen and (max-width: 768px){

	.top h1{
		font-size: 6em;
		top: 35vh;
		left: 0;
	}
  }

  @media screen and (max-width: 500px){
	.top h1{
		font-size: 4em;
		top: 30vh;
		left: 0;
	}
  }

/* ------------------------------------
   上に戻るボタン
   ------------------------------------*/
#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 25px;
  bottom: 50px;
  border-radius: 50%;
}

.bg-red{
	background: #C36068;
}

.bg-blue{
	background: #58639F;
}

.bg-green{
	background: #009B7A;
}

#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}

#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/*------------------------------------
   棒グラフ
   ------------------------------------*/
.a {
	color:#fff0f0;
	background: linear-gradient(90deg, 
		#C36068 0%, #C36068 calc(20%/2),#BBBBBB	calc(20%/2),#BBBBBB 100%);
}

.b {
	color:#fff0f0;
	background: linear-gradient(90deg, 
		#C36068 0%, #C36068 calc(60%/2),#BBBBBB calc(60%/2),#BBBBBB 100%);
}

.c {
	color:#fff0f0;
	background: linear-gradient(90deg, 
		#C36068 0%, #C36068 calc(80%/2),#BBBBBB calc(80%/2),#BBBBBB 100%);
}

.graph {
	font-size: 1.8em;
	padding: .5rem;
	margin: 1rem 0;
	position: relative;
	background-size: 200% 100%;
	animation: graph 2s ease 1 forwards;
}

@-webkit- keyframes graph {
  from {background-position: 100% 0}
  to {background-position: 0 0}
}

.percentage {
	color:#fff;
	font-weight: bold;
  position: absolute;
  right: .5rem;
}

/*------------------------------------
   スライドショー
   ------------------------------------*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:0 auto;
}

.slider img {
    width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
}

.slider .slick-slide {
	transform: scale(0.8);/*左右の画像のサイズを80%に*/
	transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
	opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
	transform: scale(1);/*中央の画像のサイズだけ等倍に*/
	opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 3px solid #C36068;/*矢印の色*/
    border-right: 3px solid #C36068;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    width: 10px;/*ドットボタンのサイズ*/
    height: 10px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#C36068;/*ドットボタンの現在地表示の色*/
}

/*------------------------------------
   table 
   ------------------------------------*/
table {
	margin: 20px auto;
	font-size:1.3em;
	line-height: 2em;
}

.about-table th {
	color: #C36068;
	padding: 10px;
	width: 20%;
}

.about-table td {
	padding: 10px;
}
 
@media screen and (max-width: 640px) {
	.last td:last-child {
		width: 100%;
	}
	.about-table {
		width: 100%;
	}
	
	.about-table th{
		background: #C36068;
		color: #fff;
	}
	.about-table th,
	.about-table td {
		display: block;
		width: 100%;
	}
}

table.brwsr2 {
	margin: 15px auto;
	width: 100%;
	border: none;
	border-top: solid 1px #666;
	border-bottom: solid 1px #666;
	border-collapse: separate;
	border-spacing: 0 10px;
}

table.brwsr2 th {
	vertical-align: middle;
	width: 30%;
	border-right: solid 1px #666;
	margin: 0;
	text-align: center;
	color: #009B7A;
	font-weight: bold;
}

table.brwsr2 td.data {
	padding: 0;
	margin: 0;
	width: 70%;
	border: none;
	color: #666;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
}

table.brwsr2 td:fst-child {
	padding: 0 0 0 10px;
	vertical-align: middle;
}

table.brwsr2 td.bar {
	height: 1px;
	width: 100%;
	border-top: solid 1px #34495e;
}

/*------------------------------------
   footer 
   ------------------------------------*/
.footer{
	padding:10px;
	text-align: center;
}

/*------------------------------------
   box 
   ------------------------------------*/
.box-wrap{
	width:100%;
	margin:0 auto;
	text-align: left;
}

.box-3{
	font-size: 0;
	text-align: center;
	display: inline-block;
	transition: .2s all;
	width: 28%;
	margin: 20px;
	border-radius: 35px;
	box-shadow:  15px 15px 30px #bfbfbf,
             -15px -15px 30px #ffffff;
	
}

.box-3:hover{
	box-shadow:  5px 5px 10px #c4c4c4,
				-5px -5px 10px #ffffff;
}

a .box-3 p{
	font-size: 1.2em;
	color: #707070;
}

.box-image img{
	border-radius: 35px 35px 0 0; 
}

.box-title{
	border-radius: 0 0 35px 35px;
	background: #e6e6e6;
	padding: 10px 0;
	font-size:12px;
}

@media screen and (max-width: 640px){
	.box-3{
		display:block;
		width: 100%;
		margin:30px auto;
	}
}

/*------------------------------------
   flex-box , link-box 
   ------------------------------------*/
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.flex-1-3 {
    width: calc(33% - 1em);
	margin: 0 0.5em;
}

.flex-1-2 {
    width: calc(50% - 1em);
	margin: 0 0.5em;
}

.linkBox{
	font-size:1.3em;
	text-align: left;
	padding: 0.5em 1em;
    margin: 0.5em 0;
    background: #FFF;
    border-left: double 7px #58639F;
}

.linkBox a{
	font-weight: 700;
	color:#707070;
	text-decoration: underline;
}

.linkBox a:hover{
	opacity: 0.7;
	text-decoration: none;
}

@media screen and (max-width: 768px) {
	.flex-1-3 {
    width: 100%;
	margin: 0 auto;
}
	.flex-1-2 {
    width: 100%;
	margin: 0 auto;
}
}

/*------------------------------------
   ページネーション 
   ------------------------------------*/

.pageNation {
	display: block;
    position: relative;
    margin-bottom: 30px;
}

.pageNation .left{
	position: absolute;
    left: 0;
    top: 0;
}

.pageNation .left a,.pageNation .right a{
	color:#707070;
}

.pageNation .right{
	position: absolute;
    right: 0;
    top: 0;
}

