* {
    font-family: "Noto Sans", sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#e3ebf2, #f7f3e6 80%);
    color: #000;
    letter-spacing: 0.12rem;
}

/* 共通要素 */
h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 36px 0;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 36px 0;
}

strong {
    font-weight: 700;
}

p {
    margin: 0 0 16px 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
}

.fs-24 {
    font-size: 24px;
}

.al-c {
    text-align: center;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

/* ヘッダー */
.site-header {
    position: absolute;
    top: 36px;
    right: 190px;
    z-index: 30;
}

.title strong {
    font-family: "Shadows Into Light", cursive;
    font-size: 24px;
}

.nav {
    display: flex;
    column-gap: 60px;
}

.nav a {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    padding-bottom: 5px;
}

.nav a::before {
    content: "";
    position: absolute;
    background: #000;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    transform-origin: center top;
    transform: scale(0, 1);
    transition: transform 0.3s;
}

.nav a:hover::before {
    transform: scale(1, 1);
    transition: transform 0.3s;
}

@media screen and (max-width:768px) {
    .site-header {
        right: 20px;
    }

    .nav {
        column-gap: 32px;
    }

    .flex-box {
        display: block;
    }
}

/* ヒーローセクション */
.hero {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 半円背景 */
.hero-bg {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 120%;
    height: 180%;
    background: #6f99be;
    background: linear-gradient(180deg, rgba(111, 153, 190, 1) 0%, rgba(187, 199, 198, 1) 30%, rgba(255, 241, 206, 1) 90%);
    border-radius: 50%;
    z-index: 1;
}

/* 中央タイトル */
.hero-content {
    position: relative;
    z-index: 5;
    text-align: center;
}

.hero-title {
    font-family: "Shadows Into Light", cursive;
    font-weight: 700;
    font-size: 96px;
}

.hero-sub {
    font-family: "Shadows Into Light", cursive;
    font-size: 36px;
}

/* セクション区切り */
section {
    position: relative;
}

.wave {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    line-height: 0;
    overflow: hidden;
    z-index: 1;
}

.wave svg {
    position: relative;
    left: -10%;
    width: 120%;
    height: 120px;
    display: block;
}

.wave.blue path {
    fill: #f0f8ff;
    animation: waveFloat 7s ease-in-out infinite alternate;
}

.wave.white path {
    fill: #fff;
    animation: waveFloat 7s ease-in-out infinite alternate;
}

@keyframes waveFloat {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-30px);
    }
}

@media (max-width: 768px) {
    .wave svg {
        height: 70px;
    }

    .wave path {
        animation: waveFloat 9s ease-in-out infinite alternate;
    }
}

/* button */
.buttun a {
    display: block;
    position: relative;
    width: 200px;
    padding: 15px 75px;
    color: #000;
    border: 1px solid #fff;
    margin: 0 0 0 auto;
    transition: 0.5s;
    z-index: 0;
}

.buttun a::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transition: 0.5s;
    background: linear-gradient(to right, #feffd6, #fdf9c7, #fcf2b8, #fdeba9, #ffe49a);
}

.buttun a::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #def3ff, #d3edff, #cae7ff, #c1e1ff, #badaff);
}

.buttun a:hover::before {
    opacity: 0;
}

.buttun a:hover {
    box-shadow: 0 4px 4px rgba(100, 100, 100, 0.25);
}

/* profile */
.profile {
    background: #fff;
    padding: 150px;
}

.profile_container,
.skills_container {
    width: 980px;
    margin: 0 auto;
}

.profile_container .flex-box {
    column-gap: 60px;
}

.profile_image img {
    border-radius: 50%;
}

.profile_container p.name {
    font-size: 24px;
    margin: 0 0 36px 0;
}

.profile_container p.name strong {
    margin-right: 30px;
}

@media screen and (max-width:980px) {

    .profile_container,
    .skills_container {
        width: 100%;
    }

    .profile_image {
        text-align: center;
        margin: 0 0 32px 0;
    }
}

@media screen and (max-width:768px) {
    .hero-bg {
        width: 210%;
    }

    .profile {
        padding: 150px 20px;
    }
}

.skills {
    background: #f0f8ff;
    padding: 150px 0;
}

.skills_container h2 {
    text-align: center;
    margin: 0 0 150px 0;
}

.skills_container h3 {
    text-align: center;
}

.skills_container .flex-box {
    padding: 0 180px 100px 180px;
    column-gap: 100px;
    justify-content: space-between;
}

.skills-box img {
    width: 200px;
}

.skills-box ul {
    padding: 24px;
}

.skills-box ul li {
    margin: 0 0 16px 0;
}

@media screen and (max-width:768px) {
    .skills_container .flex-box {
        padding: 0 20px;
        column-gap: 48px;
        justify-content: center;
    }
}

.works {
    background: #fff;
    padding: 150px 0;
}

.works h2 {
    text-align: center;
}

.works_container {
    width: 1240px;
    margin: 0 0 0 auto;
    padding: 36px 0;
}

.sliderArea {
    position: relative;
    z-index: 0;
    margin: 0 0 36px 0;
    padding: 30px;
}

.sliderArea::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1200px;
    height: 200px;
    background: #def3ff;
    z-index: -1;
}

.slider {
    padding: 30px;
    column-gap: 30px;
}

.slick-list {
    margin: 0 -15px;
}

.slick-slide {
    margin: 0 15px;
}

.slider img {
    width: 100%;
}

.prev-arrow::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-right: 3px solid #000;
    border-top: 3px solid #000;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: rotate(-135deg);
}

.next-arrow::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-right: 3px solid #000;
    border-top: 3px solid #000;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transform: rotate(45deg);
}

.works .buttun a {
    margin: 0 auto;
}

.slider p.category {
    margin: 16px 0;
}

.slider p a {
    font-weight: 700;
    font-size: 24px;
    color: #000;
    transition: all 0.3s;
}

.slider p a:hover {
    opacity: 0.7;
}

@media screen and (max-width:1240px) {
    .works_container {
        width: 90%;
        margin: 0 0 0 auto;
    }

    .sliderArea::after {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .slider {
        padding: 0;
        column-gap: 0;
    }

    .prev-arrow::before {
        top: 40px;
        left: -30px;
    }

    .next-arrow::before {
        top: 40px;
        right: -20px;
    }
}

footer {
    background: linear-gradient(to bottom, #f0f8ff, #6f99be);
}

footer p {
    text-align: center;
    padding: 16px;
    margin: 0;
}