* {
    font-family: "Noto Sans", sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    letter-spacing: 0.12rem;
}

/* 共通要素 */
h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 36px 0;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 36px 0;
}

strong {
    font-weight: 700;
}

p {
    margin: 0 0 16px 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

figure img {
    max-width: 100%;
}

.blank_icon {
    display: inline-block;
    position: relative;
    padding-right: 1.5em;
}

.blank_icon::before {
    content: "";
    position: absolute;
    border: 1px solid #000;
    right: 0px;
    width: 0.7em;
    height: 0.5em;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -0.1em;
}

.blank_icon::after {
    content: "";
    position: absolute;
    border: 1px solid #000;
    background: #fff;
    right: 0.18em;
    width: 0.7em;
    height: 0.5em;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0.05em;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
}

.column-01-item {
    width: 100%;
}

.column-02-item {
    width: calc(100% / 2 - 12px);
}

.container {
    width: 980px;
    margin: 0 auto;
}

@media screen and (max-width:980px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

@media screen and (max-width:480px) {
    .column-02-item {
        width: 100%;
    }
}

.fs-24 {
    font-size: 24px;
}

.al-c {
    text-align: center;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

/* ヘッダー */
.header {
    padding: 36px 190px 106px 190px;
    background: #fff;
    display: flex;
    justify-content: space-between;
}

.title strong {
    font-family: "Shadows Into Light", cursive;
    font-size: 24px;
}

.nav {
    display: flex;
    column-gap: 60px;
}

.nav a {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    padding-bottom: 5px;
}

.nav a::before {
    content: "";
    position: absolute;
    background: #000;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    transform-origin: center top;
    transform: scale(0, 1);
    transition: transform 0.3s;
}

.nav a:hover::before {
    transform: scale(1, 1);
    transition: transform 0.3s;
}

@media (max-width: 768px) {
    .header {
        padding: 36px 20px 106px 20px;
    }

    .nav {
        column-gap: 32px;
    }
}

.white-wave,
.blue-wave {
    overflow: hidden;
    position: relative;
}

.white-wave::before {
    content: "";
    font-family: "shape divider from ShapeDividers.com";
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: 100% 100px;
    background-position: 50% 100%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" fill="%23ffffff"/><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" opacity=".5" fill="%23ffffff"/><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" opacity=".5" fill="%23ffffff"/></svg>');
}

.blue-wave::before {
    content: "";
    font-family: "shape divider from ShapeDividers.com";
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: 100% 100px;
    background-position: 50% 100%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" fill="%23f0f8ff"/><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" opacity=".5" fill="%23f0f8ff"/><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" opacity=".5" fill="%23f0f8ff"/></svg>');
}

@media (min-width: 768px) {

    .white-wave::before,
    .blue-wave::before {
        background-size: 100% 100px;
        background-position: 50% 100%;
    }
}

@media (min-width: 1025px) {

    .white-wave::before,
    .blue-wave::before {
        bottom: -0.1vw;
        left: -0.1vw;
        right: -0.1vw;
        top: -0.1vw;
        background-size: 100% 100px;
        background-position: 50% 100%;
    }
}

@media (min-width: 2100px) {

    .white-wave::before,
    .blue-wave::before {
        background-size: 100% calc(2vw + 100px);
    }
}

/* パンくずリスト */
.breadcrumbs {
    background: #def3ff;
    padding: 16px;
    margin: 0 0 24px 0;
}

.breadcrumbs ol {
    list-style-type: none;
    display: flex;
    width: 980px;
    margin: 0 auto;
    column-gap: 8px;
}

.breadcrumbs ol li {
    position: relative;
    display: inline-block;
    padding: 0 8px 0 0;
    font-size: 14px;
    margin-left: 16px;
    line-height: 2;
}

.breadcrumbs ol li:first-child {
    margin: 0;
}

.breadcrumbs ol li::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: #000 1px solid;
    border-right: #000 1px solid;
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
    right: -0.6em;
    margin: auto;
}

.breadcrumbs ol li:last-child:before {
    content: "";
    border: none;
}

.breadcrumbs ol a {
    text-decoration: underline;
    color: #0f4c81;
}

.breadcrumbs ol a:hover {
    opacity: 0.8;
}

@media (max-width: 980px) {
    .breadcrumbs ol {
        width: 100%;
    }
}

.profile {
    background: #f0f8ff;
    padding: 150px;
}

.profile_container {
    width: 980px;
    margin: 0 auto;
}

.profile_container h2 {
    color: #0f4c81;
}

.profile_container p.name {
    font-size: 24px;
    margin: 0 0 36px 0;
}

.profile_container p.name strong {
    margin-right: 30px;
}

.profile_image {
    margin-right: 60px;
}

.profile_image img {
    border-radius: 50%;
}

table.profile-table {
    margin: 0 0 150px 0;
}

table.profile-table th {
    padding: 20px;
    text-align: left;
    font-weight: 700;
    color: #0f4c81;
}

table.profile-table td {
    padding: 20px;
}

@media screen and (max-width:980px) {
    .profile_container {
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    .profile {
        padding: 150px 20px;
    }

    table.profile-table th {
        padding: 20px 0;
        width: 6rem;
    }
}

.history {
    background: #fff;
    padding: 150px 0 300px 0;
}

.history h2 {
    text-align: center;
}

.history-container.flex-box {
    flex-wrap: nowrap;
}

.history-container {
    flex-direction: row;
    overflow-x: auto;
    width: 1100px;
    padding: 0 0 32px 0;
    margin: 0 auto;
    column-gap: 48px;
}

.history-container>div {
    min-width: 520px;
    padding: 16px;
    background: #f0f8ff;
}

.history-container>div h3 {
    color: #0f4c81;
    margin: 0 0 32px 0;
}

.history-container>div p:last-child {
    margin: 0;
}

@media screen and (max-width: 1100px) {
    .history-container {
        width: 100%;
    }
}

.pieces {
    background: #f0f8ff;
    padding: 150px 0;
}

.pieces h2 {
    color: #0f4c81;
    text-align: center;
    margin: 0 0 16px 0;
}

.pieces-contaier {
    width: 1200px;
    margin: 0 auto;
    column-gap: 80px;
    row-gap: 32px;
}

.pieces-contaier>div {
    width: calc(100% / 3 - 80px);
}

.pieces-contaier>div img {
    border-radius: 50%;
    width: 100%;
    margin: 0 0 8px 0;
}

@media screen and (max-width: 1200px) {
    .pieces-contaier {
        width: 100%;
        column-gap: 32px;
        padding: 0 20px;
    }

    .pieces-contaier>div {
        width: calc(100% / 3 - 22px);
    }
}

@media screen and (max-width:798px) {
    .pieces-contaier {
        display: block;
    }

    .pieces-contaier>div {
        width: 100%;
        margin: 0 0 40px 0;
    }
}

.works {
    background: linear-gradient(to bottom, #f0f8ff, #6f99be);
}

.works-contaier {
    width: 1540px;
    padding: 64px 0 128px 0;
    margin: 0 auto;
}

#filter {
    justify-content: center;
    column-gap: 40px;
    margin: 0 0 64px 0;
}

.filter-item {
    position: relative;
    background: #fff;
    border: #000 1px solid;
    font-size: 16px;
    padding: 8px 0;
    min-width: 150px;
    text-align: center;
}

.filter-item:hover {
    opacity: 0.8;
}

.filter-item.active {
    background: #0f4c81;
    border: #0f4c81;
    color: #fff;
}

.filter-item.active::after {
    content: "×";
    position: absolute;
    right: -7px;
    top: -7px;
    background: #000;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    padding: 0 0 0 2px;
    line-height: 20px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    pointer-events: none;
}

.detail-contaier {
    column-gap: 24px;
    row-gap: 64px;
}

.detail-contaier>a {
    display: block;
    width: calc(100% / 3 - 16px);
    border: #000 1px solid;
    background: #fff;
}

.detail-contaier>a:hover {
    opacity: 0.8;
}

.detail-contaier>a img {
    width: 100%;
    margin: 0 0 -5px 0;
}

.detail-contaier .detail {
    padding: 8px 30px 30px;
}

p.category {
    color: #0f4c81;
}

.detail-contaier h2 {
    font-size: 24px;
    margin: 0 0 16px 0;
}

@media screen and (max-width:1540px) {
    .works-contaier {
        width: 100%;
        padding: 64px 20px;
    }
}

@media screen and (max-width:798px) {
    #filter {
        column-gap: 32px;
        row-gap: 16px;
    }

    .filter-item {
        min-width: 120px;
    }

    .detail-contaier>a {
        width: calc(100% / 2 - 16px);
    }

    .detail-contaier .detail {
        padding: 8px;
    }
}

@media screen and (max-width:480px) {
    #filter {
        column-gap: 16px;
    }

    .filter-item {
        min-width: 100px;
    }

    .detail-contaier {
        row-gap: 24px;
    }

    .detail-contaier>a {
        width: 100%;
    }
}

.category_text {
    display: inline-block;
    background: #def3ff;
    min-width: 150px;
    padding: 8px 0;
    text-align: center;
    margin-right: 16px;
}

h1.category_title {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 24px 0;
}

h2.category_title {
    font-size: 24px;
    font-weight: 700;
    color: #0f4c81;
    margin: 32px 0 24px 0;
}

.category_link a {
    text-decoration: underline;
    word-break: break-word;
}

.category_link a:hover {
    text-decoration: none;
}

table.works-table {
    width: 100%;
    border: none;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin: 32px auto 64px auto;
}

table.works-table tr {
    padding: 20px;
}

table.works-table th {
    vertical-align: middle;
    width: 18%;
    border-right: solid 1px #000;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #0f4c81;
}

table.works-table td.data {
    padding: 0 0 0 20px;
    margin: 0;
    width: 70%;
    border: none;
    color: #000;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
}

table.works-table td.bar {
    height: 1px;
    width: 100%;
    border-top: solid 1px #000;
}

@media screen and (max-width: 768px) {
    table.works-table {
        border-spacing: 0;
    }

    table.works-table tr {
        width: 100%;
        padding: 0;
    }

    table.works-table th {
        width: 100%;
        display: block;
        border-right: none;
        border-bottom: solid 1px #000;
    }

    table.works-table td.data {
        width: 100%;
        display: block;
        white-space: wrap;
        padding: 10px;
    }
}

.works-column {
    column-gap: 24px;
    row-gap: 32px;
}

a.js-modal-link:hover {
    opacity: .9;
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 1000;
}

.modal__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .6);
    z-index: -1;
}

.modal__content {
    width: 90%;
    max-width: 900px;
    position: relative;
    height: 80vh;
    max-height: 80dvh;
    margin: 10vh auto 0;
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.modal__close {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    background-color: #0f4c81;
    color: #fff;
    border: none;
    top: -15px;
    right: -15px;
    border-radius: 50%;
}

.modal__body {
    padding: 16px;
}

.modal__image-wrap {
    max-height: 60vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 16px;
}

.modal__image-wrap img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

p.modal__desc {
    margin: 0;
    text-align: left;
}

@media screen and (max-width:798px) {
    .modal__image-wrap {
        max-height: 50vh;
    }
}

.slick-slide img {
    display: inline;
}

.arrow_box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px 0 0;
    position: relative;
}

.prev-arrow,
.next-arrow {
    display: block;
    width: 50px;
    height: 50px;
    background: #def3ff;
    border-radius: 50%;
    transition: all .3s ease;
    cursor: pointer;
    position: relative;
}

.prev-arrow {
    transform: rotate(180deg);
    margin-right: 20px;
}

.prev-arrow::before,
.next-arrow::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(45deg);
}

.dots-wrap {
    display: flex;
    justify-content: center;
}

.dots-wrap li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #def3ff;
    border-radius: 50%;
    cursor: pointer;
}

.dots-wrap li:hover,
.dots-wrap li.slick-active {
    background: #0f4c81;
}

.dots-wrap li button {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    padding: 0;
    border: none;
    background-color: transparent;
}

footer {
    padding: 16px;
}

footer p {
    text-align: center;
    margin: 0;
}
