* {
    font-family: "Noto Sans", sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    letter-spacing: 0.12rem;
}

/* 共通要素 */
h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 36px 0;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 36px 0;
}

strong {
    font-weight: 700;
}

p {
    margin: 0 0 16px 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

figure img {
    max-width: 100%;
}

.blank_icon {
    display: inline-block;
    position: relative;
    padding-right: 1.5em;
}

.blank_icon::before {
    content: "";
    position: absolute;
    border: 1px solid #000;
    right: 0px;
    width: 0.7em;
    height: 0.5em;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -0.1em;
}

.blank_icon::after {
    content: "";
    position: absolute;
    border: 1px solid #000;
    background: #fff;
    right: 0.18em;
    width: 0.7em;
    height: 0.5em;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0.05em;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
}

.column-01-item {
    width: 100%;
}

.column-02-item {
    width: calc(100% / 2 - 12px);
}

.container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width:1200px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

@media screen and (max-width:480px) {
    .column-02-item {
        width: 100%;
    }
}

.fs-24 {
    font-size: 24px;
}

.al-c {
    text-align: center;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.pb-60 {
    padding-bottom: 60px !important;
}

/* ヘッダー */
.header {
    padding: 36px 190px 106px 190px;
    background: #fff;
    display: flex;
    justify-content: space-between;
}

.header.nowave {
    padding: 36px 190px;
    background: #fff;
    display: flex;
    justify-content: space-between;
}

.title strong {
    font-family: "Shadows Into Light", cursive;
    font-size: 24px;
}

.nav {
    display: flex;
    column-gap: 60px;
}

.nav a {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    padding-bottom: 5px;
}

.nav a::before {
    content: "";
    position: absolute;
    background: #000;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    transform-origin: center top;
    transform: scale(0, 1);
    transition: transform 0.3s;
}

.nav a:hover::before {
    transform: scale(1, 1);
    transition: transform 0.3s;
}

@media (max-width: 768px) {
    .header {
        padding: 36px 20px 106px 20px;
    }

    .header.nowave {
        padding: 36px 20px;
    }

    .nav {
        column-gap: 32px;
    }
}

/* セクション区切り */
section,
.section {
    position: relative;
}

.wave {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    line-height: 0;
    overflow: hidden;
    z-index: 1;
}

.wave svg {
    position: relative;
    left: -10%;
    width: 120%;
    height: 120px;
    display: block;
}

.wave.blue path {
    fill: #f0f8ff;
    animation: waveFloat 7s ease-in-out infinite alternate;
}

.wave.white path {
    fill: #fff;
    animation: waveFloat 7s ease-in-out infinite alternate;
}

@keyframes waveFloat {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-30px);
    }
}

@media (max-width: 768px) {
    .wave svg {
        height: 70px;
    }

    .wave path {
        animation: waveFloat 9s ease-in-out infinite alternate;
    }
}

/* パンくずリスト */
.breadcrumbs {
    background: #def3ff;
    padding: 16px;
    margin: 0 0 24px 0;
}

.breadcrumbs ol {
    list-style-type: none;
    display: flex;
    width: 980px;
    margin: 0 auto;
    column-gap: 8px;
}

.breadcrumbs ol li {
    position: relative;
    display: inline-block;
    padding: 0 8px 0 0;
    font-size: 14px;
    margin-left: 16px;
    line-height: 2;
}

.breadcrumbs ol li:first-child {
    margin: 0;
}

.breadcrumbs ol li::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: #000 1px solid;
    border-right: #000 1px solid;
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
    right: -0.6em;
    margin: auto;
}

.breadcrumbs ol li:last-child:before {
    content: "";
    border: none;
}

.breadcrumbs ol a {
    text-decoration: underline;
    color: #0f4c81;
}

.breadcrumbs ol a:hover {
    opacity: 0.8;
}

@media (max-width: 980px) {
    .breadcrumbs ol {
        width: 100%;
    }
}

.profile {
    background: #f0f8ff;
    padding: 150px;
}

.profile_container {
    width: 980px;
    margin: 0 auto;
}

.profile_container h2 {
    color: #0f4c81;
}

.profile_container p.name {
    font-size: 24px;
    margin: 0 0 36px 0;
}

.profile_container p.name strong {
    margin-right: 30px;
}

.profile_container .flex-box {
    column-gap: 60px;
}

.profile_image {
    text-align: center;
}

.profile_image img {
    border-radius: 50%;
}

table.profile-table {
    width: 100%;
    margin: 0 0 150px 0;
}

table.profile-table th {
    width: 8.5rem;
    padding: 20px;
    text-align: left;
    font-weight: 700;
    color: #0f4c81;
}

table.profile-table td {
    padding: 20px;
}

@media screen and (max-width:1025px) {
    .profile_container {
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    .profile {
        padding: 150px 20px;
    }

    .profile_container .flex-box {
        display: block;
    }

    .profile_image {
        margin: 0 0 32px 0;
    }

    table.profile-table th {
        display: block;
        padding: 0 0 16px 0;
        width: 100%;
    }

    table.profile-table td {
        display: block;
        padding: 0 0 24px 0;
        width: 100%;
    }
}

.history {
    background: #fff;
    padding: 150px 0 300px 0;
}

.history h2 {
    text-align: center;
}

.history-container.flex-box {
    flex-wrap: nowrap;
}

.history-container {
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
    padding: 0 24px 32px 24px;
    margin: 0 auto;
    column-gap: 48px;
}

.history-container>div {
    min-width: 520px;
    padding: 16px;
    background: #f0f8ff;
}

.history-container>div h3 {
    color: #0f4c81;
    margin: 0 0 32px 0;
}

.history-container>div p:last-child {
    margin: 0;
}

@media screen and (max-width: 1100px) {
    .history-container {
        width: 100%;
    }
}

.pieces {
    background: #f0f8ff;
    padding: 150px 0;
}

.pieces h2 {
    color: #0f4c81;
    text-align: center;
    margin: 0 0 16px 0;
}

.pieces-contaier {
    width: 1200px;
    margin: 0 auto;
    column-gap: 60px;
    row-gap: 32px;
}

.pieces-contaier>div {
    width: calc(100% / 3 - 40px);
}

.pieces-contaier>div img {
    border-radius: 50%;
    width: 100%;
    margin: 0 0 8px 0;
}

@media screen and (max-width: 1200px) {
    .pieces-contaier {
        width: 100%;
        column-gap: 32px;
        padding: 0 24px;
    }

    .pieces-contaier>div {
        width: calc(100% / 3 - 22px);
    }
}

@media screen and (max-width:798px) {
    .pieces-contaier {
        display: block;
    }

    .pieces-contaier>div {
        width: 100%;
        margin: 0 0 56px 0;
    }
}

.works {
    background: linear-gradient(to bottom, #f0f8ff, #6f99be);
}

.works-contaier {
    width: 1540px;
    padding: 64px 0 128px 0;
    margin: 0 auto;
}

#filter {
    justify-content: center;
    column-gap: 40px;
    margin: 0 0 64px 0;
}

.filter-item {
    position: relative;
    background: #fff;
    border: #000 1px solid;
    font-size: 16px;
    padding: 8px 0;
    min-width: 150px;
    text-align: center;
}

.filter-item:hover {
    opacity: 0.8;
}

.filter-item.active {
    background: #0f4c81;
    border: #0f4c81;
    color: #fff;
}

.filter-item.active::after {
    content: "×";
    position: absolute;
    right: -7px;
    top: -7px;
    background: #000;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    padding: 0 0 0 2px;
    line-height: 20px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    pointer-events: none;
}

.detail-contaier {
    column-gap: 24px;
    row-gap: 64px;
}

.detail-contaier>a {
    display: block;
    width: calc(100% / 3 - 18px);
    border: #000 1px solid;
    background: #fff;
}

.detail-contaier>a:hover {
    opacity: 0.8;
}

.detail-contaier>a img {
    width: 100%;
    margin: 0 0 -5px 0;
}

.detail-contaier .detail {
    padding: 8px 30px 30px;
}

p.category {
    color: #0f4c81;
}

.detail-contaier h2 {
    font-size: 24px;
    margin: 0 0 16px 0;
}

@media screen and (max-width:1540px) {
    .works-contaier {
        width: 100%;
        padding: 64px 20px;
    }
}

@media screen and (max-width:798px) {
    #filter {
        column-gap: 32px;
        row-gap: 16px;
    }

    .filter-item {
        min-width: 120px;
    }

    .detail-contaier>a {
        width: calc(100% / 2 - 16px);
    }

    .detail-contaier .detail {
        padding: 8px;
    }
}

@media screen and (max-width:480px) {
    #filter {
        column-gap: 16px;
    }

    .filter-item {
        min-width: 100px;
    }

    .detail-contaier {
        row-gap: 24px;
    }

    .detail-contaier>a {
        width: 100%;
    }
}

.category_text {
    display: inline-block;
    padding: 5px 10px;
    color: #0f4c81;
    text-align: center;
    margin-right: 16px;
    border: 1px solid #0f4c81;
    border-radius: 20px;
}

h1.category_title {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 24px 0;
}

h2.category_title {
    font-size: 24px;
    font-weight: 700;
    color: #0f4c81;
    margin: 32px 0 24px 0;
}

.category_link a {
    text-decoration: underline;
    word-break: break-word;
}

.category_link a:hover {
    text-decoration: none;
}

.works-column {
    column-gap: 56px;
    margin: 0 auto;
    padding: 0 76px;
}

.works-other-column {
    column-gap: 24px;
    row-gap: 16px;
    margin: 0 auto;
}

.photo-box {
    width: calc(70% - 28px);
}

.text-box {
    width: calc(30% - 28px);
}

.button_container {
    display: inline-block;
    position: relative;
    z-index: 10;
    margin-bottom: 12px;
    background: #f0f8ff;
    padding: 8px;
    border-radius: 5px;
}

.button_container .flex-box {
    display: flex;
    gap: 8px;
}

.button_container button {
    padding: 4px 10px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    background: #f0f8ff;
    cursor: pointer;
    border-radius: 5px;
}

.button_container .is-active {
    background: #000;
    border-radius: 5px;
    color: #fff;
}

.preview.pc {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    background-color: #333;
    border: 10px solid #333;
    padding: 10px 5px;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.preview.sp {
    aspect-ratio: 9 / 16;
    width: 100%;
    max-width: calc(100% / 3);
    margin: 0 auto;
    background-color: #333;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 40px;
    overflow: hidden;
}

.preview.pc figure,
.preview.sp figure {
    height: 100%;
    overflow-y: auto;
    border-radius: 40px;
}

/* 中の画像 */
.preview img {
    width: 100%;
    height: auto;
    display: block;
}

.works__content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 16px 0;
    align-items: baseline;
}

.works__content dt {
    font-weight: 500;
    color: #0f4c81;
    width: 6.5rem;
    margin: 0 0 8px 0;
}

.works__content dt:last-of-type {
    margin: 0;
}

.works__content dd {
    width: calc(100% - 6.5rem);
}


@media screen and (max-width:798px) {
    .works-column {
        margin: 0 auto;
        padding: 0 16px;
    }

    .photo-box {
        width: 100%;
        margin: 0 0 24px 0;
    }

    .text-box {
        width: 100%;
    }

    .preview.pc {
        border: 8px solid #333;
        border-radius: 20px;
    }

    .preview.sp {
        max-width: calc(100% / 2);
        border: 1px solid #333;
        padding: 8px;
        border-radius: 20px;
    }

    .preview.pc figure,
    .preview.sp figure {
        border-radius: 16px;
    }

    .works__content {
        display: block;
    }

    .works__content dt,
    .works__content dt:last-of-type {
        width: 100%;
        margin: 0 0 8px 0;
    }

    .works__content dd {
        width: 100%;
        margin: 0 0 16px 0;
    }
}

footer {
    padding: 16px;
}

footer p {
    text-align: center;
    margin: 0;
}